body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-color: white;
}

#reroll-button {
    padding: 0.5rem 3rem;
    font-size: 1.3em;
    border: none;
    background: #d7ecff;
    -webkit-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    cursor: pointer;
}

#reroll-button:hover {
    transition: box-shadow ease 0.2s;
    -webkit-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.55);
}

#reroll-button:active {
    background-color: #bee0ff;
}

#student-box {
    margin-top: 1rem;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#topic-card {
    max-width: 400px;
    background-color: #558B6E;
    padding: 2rem;
    margin-bottom: 2rem;
    cursor: default;
}

#topic-text {
    margin: 0;
    user-select: none;
    color: white;
}

.tool-text {
    margin: 0;
    user-select: none;
    color: white;
}

/* #26C485*/
/*#B88C9E*/

.card {
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 26px -14px rgba(0, 0, 0, 0.75);
}

#tools-container {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-direction: column;
    align-items: center;
}


.tool-card {
    padding: 1.5rem;
    background-color: #704C5E;
    text-align: center;
    cursor: pointer;
    min-width: 200px;
    max-width: max-content;
}

.tool-details {
    margin-top: 1rem;
    text-align: left;
    max-width: 100%;
}


.hidden {
    display: none;
}